.available-groups-container {
    margin: 0 auto;
    display: flex;    
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5%;
}

.group-title {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;    
    /* border: 1px solid #000; */
    font-size: 1.5rem;    
}

.groups-container-body {
    display: flex;
    /* border: 1px solid #000;    */
    width: 100%;
    flex-wrap: wrap;
}

.group-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.group-header {
    display: flex;    
    border: 1px solid #000;   
    width: 100%;
    font-size: 1.3rem;
}

.group-header-selected {
    background-color: dodgerblue;    
}

.group-station {
    display: flex;
    width: 5%;
    justify-content: center;
    margin: 1% 1% 1% 1%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;        
    color: white;
    background: #000;
    border-radius: 10%;
    font-weight: bold;
}
.group-station-selected {    
    background: dodgerblue;
}

.group-select {
    display: flex;
    width: 25%;
    margin: 0 auto;
}
